/* -------------------  VISUAL ELEMENTS ------------------ */

/* Styling for the color */
.box{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
  /*border: 0.15em solid #333;*/}

.palette-block section {
  background-color: white;
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: none;}
  .palette-block section div.palette-button {
    border-radius: 3px 3px 0 0;
    min-height: 100px;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease-in-out; }
    .palette-block section div.palette-button::after {
      content: "copy";
      position: absolute;
      font-size: 0.75em;
      color: white;
      background-color: rgba(30, 30, 30, 0.25);
      padding: 0.25rem 5%;
      width: 100%;
      left: 0;
      bottom: -50px;
      opacity: 0.1;
      margin: 0;
      transition: all 0.4s ease-in-out;
      font-weight: 400;
      letter-spacing: 0.0075em;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;
      letter-spacing: 0.25em; }
.palette-block.zeroclipboard-is-hover, .palette-block:hover {
  cursor: pointer; }
  .palette-block.zeroclipboard-is-hover .palette-button:after, .palette-block:hover .palette-button:after {
    opacity: 1;
    bottom: 0; }
.palette-block.zeroclipboard-is-active .palette-button, .palette-block:active .palette-button {
  background-color: white !important; }
  .palette-block.zeroclipboard-is-active .palette-button::after, .palette-block:active .palette-button::after {
    font-family: "FontAwesome";
    content: "";
    color: #66b6ab;
    background: #ecedf3; }
.palette-block small,
.palette-block span {
  display: block;
  margin: 0.5rem 0.5rem 0.25rem;
  line-height: 0.8;
  color: #999999;
  font-weight: 400;
  letter-spacing: 0.0075em;
  -webkit-font-smoothing: antialiased; }
.palette-block small {
  font-size: 13.7136px; }
  .palette-block small:nth-child(3) {
    color: #bbbcc7;
    letter-spacing: 0.05em;
    font-size: 10px;
    line-height: 0.67;
    margin: 0 0.5rem; }
.palette-block span {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 13.7136px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0; }
  .palette-block span::before {
    content: "#"; }
.palette-block.palette-orange div {
  background-color: #D15627; }
.palette-block.palette-grey div {
  background-color: #515151; }
.palette-block.palette-light-grey div {
  background-color: #f7f7f7; }
.palette-block.palette-black div {
  background-color: #2b2b2b; }


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #D15627;
  color: #fff;
}

/* Styling for the in-text link*/
.selected{
  color: #D15627; 
  text-decoration: none;
}

/* Styling for the form*/
  .contact-form {
    max-width: 1208px;
    max-width: 75.5rem;
    margin: 0 auto;
  }
#contact, label, input[name="submit"] {
  position: relative;
}
label > span, input, textarea, button {
  box-sizing: border-box;
}
label {
  display: block;
}
label > span {
  display: none;
}
input, textarea, button {
  width: 100%;
  padding: 0.5em;
  border: none;
}
input[type="text"], input[type="email"], textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  height: 6em;
}
input[type="submit"], button {
  background: #D15627;
  color: #fff;
}
input[type="submit"]:hover, button:hover {
  background: #ED805F;
}
@media screen and (min-width: 30em) {

  label > span {
    vertical-align: top;
    display: inline-block;
    width: 2%;
    padding: 0.5em;
    border: 1px solid transparent;
    text-align: right;
  }
  input, textarea, button {
    width: 73.6263%;
    line-height: 1.5;
  }
  textarea {
    height: 10em;
  }
  input[type="submit"], button {
    margin-left: 2%;
  }
}
@media screen and (min-width: 48em) {
/*  .contact-form {
    text-align: justify;
    line-height: 0;
  }*/
  .contact-form:after {
    content: '';
    display: inline-block;
    width: 100%;
  } 
}

/* 
  TEXT ELEMENTS -------------------
*/





/* 
  COMBINED ELEMENTS -------------------
*/







/* Styling for product lists */
.caption {
  position: relative;
  padding: 0em 2em 0em 2em;
  margin: 0 auto;
  width: 20em;
}

.product-caption {
  position: relative;
  display: block;
  text-align: center;
  font-style: normal;
  margin: 0 auto;
}

/* Animation for pictures */

.product-container {
  position: relative;
  width: 20em;
  height: 12em;
  padding: 0em 2em 0em 2em;
  margin: 0 auto;
}

.product-container img {
  position:absolute;
  left:0;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.product-container img.top:hover {
  opacity:0;
}





/*---------------- GRIDS SECTION ---------------- */

/*
  With this selector, we are specifying that all objects use
  the border-box model (not the content-box model)
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
  Here we are using a 'fancy' css selector that is 
  specifying if the class of an item starts with
  'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
  float: left;
  padding: 0; 
  
}


/*
  Here we are defining our default column widths with the intention
  of keeping it 'mobile first'
*/
.grid-col-2of10, .grid-col-3of10, .grid-col-4of10, .grid-col-5of10, .grid-col-6of10, .grid-col-8of10{
  width: 100%;
}


/*
  Here we are clearing floated items to ensure that
  our 'grid' structure can have different rows
*/
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}



/*
  Using further @media queries, we specify that at a width of
  less than 30em it should collapse the 2/10 columns into one stack

  Think of this as saying, when display width > 30em, apply this
*/
@media (min-width: 65em) {

  .grid-col-2of10{
    width: 20%;
  }

  .grid-col-3of10 {
    width: 30%;
  }

  .grid-col-4of10 {
    width: 40%;
  }
}


/*
  Here using @media queries, we are specifying when the display
  has a width less than 50em it should collapse the 5/10 columns 
  into one stack (hence width: 100%)

  Think of this as saying, when display width > 50em, apply this
*/
@media (min-width: 65em) {

  .grid-col-8of10 {
    width: 80%;
  }

  .grid-col-6of10 {
    width: 60%;
  }

  .grid-col-5of10 {
    width: 50%;
  }

}

/* Styling for the grid */
.gridBBB{
  background-color: #D15627;
  border: 0.1em solid #fff;
  color: #fff;
  text-align: center;
}




/* --------------------- NAVIGATION MENU --------------------- */

header {
  width: 100%;
  position: fixed;
}

/* Styling for the sub navigation */
.sub-nav{
  font-size: 0.9em;
  margin-left: 3%;
  padding-bottom: 0; 
  margin-top: 1em;
}

/* Nav menu fixed */
#nav-menu {
  position: fixed;
  display: inline-block;
  padding-left: 4em;
  width: 20em;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

/* Styling for nav menu */
nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

nav>ul{
  list-style: none; 
  padding-left: 0;
}

nav>ul>li{
  margin-top: 1.5em;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

/* Styling for the logo */
#logo {
  padding-top: 10em;
  padding-bottom: 4em;
  width: 13em;
}

/* Styling for menu icon */
#menu-icon {
  display: none;
  border: 0.1em;
  border-style: solid;
  border-color: #545454;
  padding: 0.5em;
  margin: auto;
}

#nav-menu-background {
    background-color: #FFF;
    height: 100%;
    padding: 0 2em;
    width: 20em;
    position: fixed;
    border-right: 0.1em;
    border-color: #EFEFEF;
    border-right-style: solid;
  }



/* ---------------- MAIN CONTENT ---------------- */

.mainContent{
  margin-left: 20em;
  padding: 4rem;
}


/* ---------------- TEXTUAL STYLES ---------------- */

img {
  max-width: 100%;
  display: block;
}

body {
  padding: 0rem;
  font:16pt;
  font-family: 'Open Sans';
  font-weight: 300;
}

section:not([id]) {
  margin: 2% 0;
  padding: 5% 0;
  border-bottom: 0.1em solid #EFEFEF;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "museo_sans500";

}

section h3 {
  margin-bottom: 0;
  font-family: "museo_sans500";
}

section p {
  margin-top: 0;
  font-family: 'Open Sans';
  font-weight: 300;

}

h1{
  font-family: "museo_sans500",sans-serif;
  font-style: none;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

h2{
  font-family: "museo_sans500",sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
}

h3{
  font-family: "museo_sans500",sans-serif;
  font-style: normal;
  font-weight: 400;
}

p{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


a {
  color: #545454;
  text-decoration: none; 
}

a:active, a:hover {
  color: #D15627; 
  text-decoration: none;
}

/* Styling for the typeface */
.museo_sans500{
  font-family: "museo_sans500",sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
}

.museo_sans500 h3{
font-size: 3rem;
}

.museo_sans500 p{
font-size: 1rem;
}

.open_sans{
  font-family: "Open Sans",serif;
  font-style: normal;
  font-weight: 300;
}

.open_sans h3{
  font-size: 3rem;
}

.open_sans p{
  font-size: 1rem;
}

.product-content {
  margin-top: 20%;
}


/* ---------------- BROWSER RESIZE ---------------- */

@media (max-width: 90em) {

  #nav-menu {
    padding-left: 3em;
    width: 18em;
  }

  #logo {
    padding-top: 8em;
    padding-bottom: 2.5em;
  }

  .mainContent{
    margin-left: 18em;
  }

  .product-content {
    margin-top: 10%;
  }

  #nav-menu-background {
    width: 18em;
  }
}


@media (max-width: 65em) {

  #nav-menu {
    position: relative;
    display: block;
    text-align: center;
    height: 4em;
    padding: 1em;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    }

  #logo {
    margin: auto;
    padding: 0em;
    margin-top: 0.5em;
    width: auto;
    height: 1.5rem;
  }

  #nav-menu-background {
    height: 4em;
    padding: 0;
    width: 100%;
    position: fixed;
    border-right-style: none;
    border-bottom: 0.1em;
    border-bottom-style: solid;
    border-color: #EFEFEF;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /* IE8
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=95); /* IE 5-7
    
    /* Modern Browsers */
    opacity: 0.95;
  }

  .sub-nav {
    margin-left: none;
  }

  nav>ul>li {
    margin-top: 2em;
  }

  .mainContent{
    margin-left: 0em;
    padding-top: 4em;
  }

  img {
    margin: auto;
  }

  #nav-menu ul {
    display: none;
  }

  #menu-icon {
    display: block;
    float: left;
  }
}