
/* Table of Content
==================================================
  #1 Navigation Menu
  #2 Typography
  #3 Buttons
  #4 Contact Form
  #5 Bike Stats
  #6 Product Listing
  #7 Photo Gallery for Product Image
  #8 Main Content
  #9 Custom Bike & Reviews
  #10 Browser Resize
  #11 Map
  #12 Cart
  #13 Progress Bar
  #14 Shopping Cart & Checkout
  #15 Event Page */




/* #1 Navigation Menu
================================================== */

/* Nav menu fixed */
#nav-menu {
  position: fixed;
  display: inline-block;
  padding-left: 4em;
  width: 20em;
  letter-spacing: 0.1em;
  font-size: 0.9em;

  background-color: #FFF;
  height: 100%;
}

/* Styling for the sub navigation */
  .sub-nav{
    font-size: 0.9em;
    margin-left: 7%;
    padding-bottom: 0; 
    margin-top: 1em;
  }

  /* Styling for nav menu */
  nav {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  nav>ul{
    list-style: none; 
    padding-left: 0;
  }

  li, .selected {
    margin-top: 1.5em;
  }

  nav a:hover, nav a:focus {
    text-decoration: none;
  }

  .menuArrow {
    color: #CCC;
  }

  /* Styling for the logo */
  #logo_web {
    padding-top: 6em;
    padding-bottom: 2em;
    width: 13em;
  }

  .menu-trigger {
    display: none;
    color: black;
  }



/* #2 Typography
================================================== */

  img {
    max-width: 100%;
    display: inline-block;
  }

  body {
    padding: 0rem;
    font:16pt;
    font-family: 'Open Sans';
    font-weight: 300;
  }

  section {
    padding: 2em 0;
    border-bottom: 0.1em solid #EFEFEF;
  }


  h1{
    font-family: "museo_sans500",sans-serif;
    font-style: none;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }

  h2{
    font-family: "museo_sans500",sans-serif;
    font-style: none;
    font-weight: 400;
    font-size: 1.5rem;
  }

  h3{
    font-family: "museo_sans500",sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 1rem;
    color: #545454;
  }

  h4{
    font-family: "museo_sans500",sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    color: #D15627;
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  h5{
    font-family: "museo_sans500",sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }


p{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
}

a {
  color: #545454;
  text-decoration: none; 
}

a:active, a:hover {
  color: #D15627; 
  text-decoration: none;
}

table {
  border-style: none;
  text-align: center; 
  width: 70%;
  margin: 0 auto;
}

td {
  padding: 1em;
}

.lastitem {
  border-style: none;
}

.margin-top-extra {
  padding-top: 2em;
}

.padding-left-extra {
  padding-left: 4em;
}

/* Styling for the in-text link*/
.selected {
  color: #D15627; 
  text-decoration: none;
}

.extra-button-padding {
  padding-right: 0.5em;
  padding-bottom: 1em;
}


  /* #3 Buttons
================================================== */

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #D15627;
  margin: 1em 0;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover, .button:focus, .button:active {
  background-color: #ED805F;
  color: #fff;
}

.button_build{
  margin-left: 1rem;
} 

.button-duplicate {
  margin: 0em 2em 1em 0;
}

.button-no-margin {
  margin-top: 0;
}


/* #4 Contact Form
================================================== */
  #contact, label, input[name="submit"] {
    position: relative;
  }
  label, input, textarea, .button-form {
    box-sizing: border-box;
  }
  label {
    display: block;
  }

  input, textarea, .button-form {
    width: 100%;
    padding: 0.5em;
    border: none;
    line-height: 1.5em;
  }

  textarea {
      height: 10em;
  }

  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }

  input[type="submit"], .button-form {
    padding: 0.5em 0.75em;
    text-decoration: none;
    border-style: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background: #D15627;
    color: #fff;
  }

  input[type="submit"]:hover, .button-form:hover {
    background-color: #ED805F;
  }



/* #5 Bike Stats
================================================== */

  .bike-stats {
    display: inline-block;
    height: 0.25em;
    width: auto;
    background-color: #D15627;
    margin-bottom: 2em;
  }

  /* Background bar for bike stats */
  .grey-bar-30 {
    background-color: #EFEFEF;
    width: 30%;
  }

  .grey-bar-40 {
    background-color: #EFEFEF;
    width: 40%;
  }

  .grey-bar-70 {
    background-color: #EFEFEF;
    width: 70%;
  }

  .grey-bar-80 {
    background-color: #EFEFEF;
    width: 80%;
  }


  /* Stats for The Breakwater bike */
  .the-breakwater-comfort {
    width: 20%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.30;
  }

  .the-breakwater-speed {
    width: 70%;
  }

  .the-breakwater-performance {
    width: 60%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: 0.65;
  }


  /* Stats for The Fawnler bike */
  .the-fawnler-comfort {
    width: 70%;
  }

  .the-fawnler-speed {
    width: 20%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.30;
  }

  .the-fawnler-performance {
    width: 30%; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: 0.65;
  }


  /* Stats for The Loifer bike */
  .the-loifer-comfort {
    width: 60%;
  }

  .the-loifer-speed {
    width: 60%;
  }

  .the-loifer-performance {
    width: 60%;
  }


/* #6 Photo Gallery for Product Image
================================================== */
  .product-images {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .product-images img {
    width: 100%;
    padding: 2em;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: #FFF;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  .product-images img:target {
    left: 0;
    z-index: 9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .product-images img:first-child {
    left: 0;
    position: relative;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .not-clicked {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: 0.65;
  }

  .thumbnail-photos a:hover, 
  .thumbnail-photos a:focus, 
  .thumbnail-photos a:active,
  .clicked {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #D15627;
  }

  /* Styling for the custom parts on buildbikes page */
  .custom-parts {
    margin: 0;
    margin-bottom: 2em;
    width: 100%;
  }


/* #7 Main Content
================================================== */

  .mainContent{
    margin-left: 20em;
    padding: 0 4rem 0 4rem;
  }

  .background {
    position: fixed;
    max-height: auto;
    max-width: auto;
    top: -10%;
    right: -40%;
    height: 150%;
    width: 150%;
    z-index: -1;
    background-color: #F7F8F8;
  }

  .background img {
    position: absolute;
    width: 100%;
  }

  .home-page {
    margin-top: 5.5em;
  }

  .home-page h1, .home-page h3 {
    color: #FFF;
  }

  .container {
    height: auto;
    width: auto;
  }

  .mainContent section h1:first-child{
    margin-top: 1.5em;
  }



/* #8 Custom Bike & Reviews
================================================== */

  /* Custom bike steps progress bar */
  .custombikes, .reviews {
    width: 100%;
    text-align: left;
  }

  .custombikes-img {
    max-width: 4em;
  }

  .custombikes td:first-child {
    padding-left: 0em;
  }

  .custombikes td {
    padding: 1em 0em 0.5em 0em;
    width: 25%;
  }

  .custom-progressbar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.40;
  }

  .reviews {
    margin-top: 2em;
    border-bottom: 0.1em solid #CCC;
  }

  .reviewbox{
    margin-top: 3rem;
  }

  #first.reviews {
    margin-top: 0em;
  }

  .grid-25 h4 {
    margin-top: 0.75em;
  }

  .step-selected {
    color: #D15627;
  }

  .progress-bar-10 {
    width: 10%;
  }

  .progress-bar-30 {
    width: 30%;
  }

  .progress-bar-60 {
    width: 60%;
  }

  .progress-bar-85 {
    width: 85%;
  }

  .grey-bar-90 {
    background-color: #EFEFEF;
    width: 90%;
  }

  .grey-bar-70 {
    background-color: #EFEFEF;
    width: 70%;
  }

  .grey-bar-40 {
    background-color: #EFEFEF;
    width: 40%;
  }

  .grey-bar-15 {
    background-color: #EFEFEF;
    width: 15%;
  }

  .checkmark {
    padding-left: 0.5em;
    color: #ED805F;
  }

  /* Custom bike buttons */
  .custom-button {
    margin: 0;
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }


/* #10 Browser Resize
================================================== */

  @media (max-width: 90em) {

    #nav-menu {
      padding-left: 3em;
      width: 18em;
    }

    #logo {
      padding-top: 8em;
      padding-bottom: 2em;
    }

    .mainContent{
      margin-left: 18em;
      padding: 0em 1em 0em 1em;
    }
  }


  @media (max-width: 65em) {

    #nav-menu {
      position: relative;
      display: block;
      text-align: center;
      height: 4em;
      padding: 0.5em;
      height: 100%;
      margin: auto;
      vertical-align: middle;
      z-index: 99999;
      }

    li, .selected {
      margin-top: 2em;
    }

    .mainContent{
      margin-left: 0em;
      padding: 1em;
    }

    img {
      margin: auto;
      margin-top: 0.3rem;
    }

    #nav-menu ul {
      display: none;
    }

    #menu-icon {
      display: block;
      float: left;
    }

    .product-content {
      margin-top: 0%;
    }

    input, textarea, .button-form {
    width: 100%;
    }

    .padding-left-extra {
      padding: 2em 0em 0em 0em;
    }

    .bike-stats {
      margin-bottom: 1em;
    }

    .custom-button {
      margin: 0;
      width: 100%;
    }

    .align-right {
      text-align: center;
    }

    .wrapper {
      display: flex;
      flex-flow: column;
      width: 100%;
    }

    /* order changes */

    #order1 {
      order: 2;
    }

    #order2 {
      order: 1;
    }

    #order3 {
      order: 3;
    }

    #shopbikes-order1 {
      order: 2;
    }

    #shopbikes-order2 {
      order: 3;
    }

    #shopbikes-order3 {
      order: 1;
    }

    #custombikes-order1 {
      order: 1;
    }

    #custombikes-order2 {
      order: 3;
    }

    #custombikes-order3 {
      order: 2;
    }

    .custom-button {
      margin: 1em 0;
    }

    .product-images, .product-images img, td {
      padding: 0.5em;
    }

    .button-duplicate {
      margin-top: 2em;
    }

    /* Custom bike changes */

    .custombikes {
      text-align: center;
    }

    .checkmark {
      padding-right: 0.5em;
    }

    .custombikes h5 {
      margin-bottom: 0.5em;
    }

    /*  product listing page, change the order of product image appear in mobile*/
    .parent{
    display:flex;
    flex-flow: column;
    }
    .a{
      order:2;
    }
    .b{order:1;
    }

    .menu-trigger {
      display:block;
    }

    .background,.nav-menu{
      position: static;
    }

    .mainContent section h1{
      font-size: 1.5em;
      /*text-align: center;*/
    }

    header{
      -webkit-box-shadow: 0px 1px 3px 0px #CCC;
      -moz-box-shadow: 0px 1px 3px 0px #CCC;
      box-shadow: 0px 1px 3px 0px #CCC;
    }

    #logo_web {
      display: none;
    }

    #logo_mobile{
      width: 10em;
    }

    .button {
      width: 100%;
      text-align: center;
    }

    .grid-25 h4 {
      margin-top: -0.5em;
    }

    .background, .background img {
      position: static;
      width: 100%;
    }

    .home-page {
      margin-top: 0;
    }

    .home-page h1 {
      color: #000;
    }

    .home-page h3 {
      color: #CCC;
    }

    section.home {
      padding: 0;
    }

    .contact-form {
      width: 100%;
    }

    .event-sidebar li {
      margin-top: 0em;
    }
  }



/* #11 Contact Us Page
================================================== */
  .contact_container{
    display: block;
    margin-top: 2rem;
  }

  .contact{
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
  }

  .followUs{
    margin-top: 3rem;
  }

  .social_media{
    margin-left: 2rem;

  }

  .GoogleMap{
    overflow:hidden;
    height:500px;
    width: auto;
    padding: 0 5em;
  }

  .map {
    padding-top: 0.75em;
  }

  @media (max-width: 65em) {

    .GoogleMap{
      padding: 0;
      margin-top:3rem;
    }
  } 

/* #12 Cart
================================================== */

  /*spacing and alignment for each element*/
  .center{
    height:10%;
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    text-align:center;
  }


  /*Contain Everything in photo*/
  .cart_details{
    border-bottom:2px solid #aaa;
  }

  /*Text Under the image*/
  .product_details{
    display:block;
    margin:0 auto;
    margin-bottom:1.5em;
    text-align: center;
  }

  .product_image img{
    max-height:100%;
    width: auto;
    height: auto;
  }

  /*The title of each element*/
  .cart_details h3{
    border-bottom:2px solid #aaa;
    padding-bottom: 1em;
  }

  /*The title of each element*/
  .price{
    float:left;
    text-align: center;
    position:relative;
    height:20em;
    text-align: center;
  }

  /*Styling for the Quality*/
  .qty{
    float:left;
    position:relative;
    height:20em;
    text-align: center;
  }

  /*Styling for the Quality*/
  .qty input{
    width:3em;
    height:2em;
    border:1px solid #ccc;
    display:block;
    margin:0 auto;
    border-radius:4px;
  }

  /*Hover Effect for Input*/
  .qty input:hover{
    border:1px solid #D15627;
  }

  /*Styling for the Price*/
  .total{
    float:left;
    position:relative;
    height:20em;
    text-align: center;
  }

  /*Remove Button*/
  .remove{
    position:relative;  
    height:20em;
    color:grey;
    text-align: center;
  }

  .remove i{
    width: auto;
    transition:all 0.5s ease;
  }

  .remove i:hover{
    color:#D15627;
  }

  .subtotal {
    margin-left: 2%;
  }

  .checkout h2 {
    float: right;
  }

  .sumprice{
    margin-left: 2em;
  }

  .compelete{
    float: right;
    text-align: center;
  }

  a.compelete {
    color: white;
  }

  /*Cart Form Mobile End*/
  @media (max-width:65em){   

    .button_build{
      margin-left: 0;
    }

    .cart_details .price h3, .cart_details .qty h3, .cart_details .remove h3{
      border-bottom:0;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .qty, .remove {
      margin-top: 2rem;
    }

    .checkout h2{
      border-top:2px solid #aaa;
      padding-top: 2rem;
    }

    .item2 {
      border-top: 2px solid #aaa;
      padding-top: 2rem;
      margin-top: 3rem;
    }

    .center{
      position:initial;
      margin:auto;
      text-align:center;
    }

    .price, .qty, .total, .remove {
      height: auto;
      margin-left:0;
    }

    .compelete, .checkout h2 {
      margin-right: 0;
      float: none;
    }

    .cart_details {
      border-bottom: none;
    }

    .checkout{
      margin-top: 3em;
    }

  }



/* #13 Progress Bar
================================================== */

  .progressbar_container{
    margin-top: 2em;
    margin-bottom: 3em;
}

  .progressbar_title{
    font-size:1.5em;
    font-style:italic;
  }

  .progressbar{
      display: block;
      margin: 0 auto;
  }




/* #14 Shopping Cart & Checkout
 =============================================*/

  .shipping {
    margin: 10px auto;
    width: 33%;
    margin-left: 7%;
  }


  .payment {  
    width: 50%;
    padding: 20px 25px 60px 25px;
    float: left;
    margin-left: 7%;
    margin-top: 2%; 
  }

  .shipping label, .payment label{
    float: left;
    width: 100%;  
  }


  .shipping input, .shipping select, .payment input, .payment select{
    width: 100%;
    
    outline: none;
    color: #b2b2b2;
    background-color: rgb(211,211,211); /* fallback */
    background-color: rgba(211,211,211,0.1);
    border: 1px solid #b2b2b2;
      
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
  }

  .shipping input, .payment input{
    padding: 0.3em;
  }

  .shipping select, .payment select{
    padding: 0.24em;
  }

  .shipping select{
    border-radius: 1;
  }

  .shipping input:hover, .shipping select:hover, .payment input:hover, .payment select:hover {
    color: #000000;
    background-color: rgb(255,255,255); /* fallback */
    background-color: rgba(211,211,211,1);
  }

  .shipping input:focus, .shipping select:focus, .payment input:focus, .payment select:focus{
    color: #000000;
    background-color: #FFFFFF;
  }

  .shipping span, .payment span {
    color: #BC0D5D;
  }
  .requireBox{
    margin-top: 2%;
  }

  .continue_button{
    margin-right: 6%;
    margin-top: 5%;
    float: right;
    text-align: center;
  }

  .back_button{
    margin-right: 6%;
    margin-top: 5%;
    margin-left:7%;
    text-align: center;
  }

  .back_button a{
    color: white;
  }

  .back_to_button a{
    color: white;
  }

  .back_to_button{
    margin-top: 7%;
  }

  .continue_button a{
      color: white;
  }

  @media (max-width: 65em) {

    .back_button{
      margin-left: 0;
    }

    .continue_button{
      margin-right: 0;
    }
  }
      
  .orderbutton{
    margin-right: 12%;
  }

  .conf_msg{
    margin-top: 5%;
  }

  .confirmation{
    margin-top: 15em;
  }

  .review{
   padding-top: 4rem;
  }

  .review div div ul li{
    margin-top: 0.8rem;
  }

  /*change the top spacing for main content in confirmation page*/
  @media (max-width:65em){
    .review{
      padding-top: 1rem;
    }
  }

  .review ul{
    padding: 0;
    list-style-type: none;
  }


  /*Cart Form Mobile End*/
  @media (max-width:600px){
    .shipping, .payment, .orderbutton, .continue_button {
      margin-left: 0;
    }

  }

/* #15 Event Page
 =============================================*/
 
  .event {
    padding-top: 70px;
  }
   
  .event-banner {
    max-width: 100%;
  }

  .m-event-banner{
    display:none;
  }

  .event-container {
  }

  .event-content {
    width: 100%;
  }

  .event-content h3{
    font-size: 1.5em;
  }

  .event-content h4{
    font-size: 1em;
  }

  .event-sidebar {
    padding-left: 1em;
  }

  .event-sidebar span {
    color: #ffba00;
  }

  .event-sidebar h3 {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.2em;
  }

  .event-sidebar ul {
    list-style: none;
    padding: 0 0 0 0em;
    text-align: left;
  }

  .event-sidebar ul li {
    display: list-item;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.9em;
    color: #b2b2b2;
  }

  #workshop_subtitle{
    color: grey;
    font-style: italic;
  }


 

